/* Fixed styling for known badge statuses */
.badgeNew {
  /* Additional styling can be added here if needed */
}

.badgeUpdated {
  /* Additional styling can be added here if needed */
}

.badgeExisting {
  /* Additional styling can be added here if needed */
}
