:root {
  --recursica-colors-neutral-900-tone: #0a3301;
  --recursica-colors-neutral-800-tone: #193d11;
  --recursica-colors-neutral-700-tone: #305428;
  --recursica-colors-neutral-600-tone: #46663f;
  --recursica-colors-neutral-500-tone: #5b7755;
  --recursica-colors-neutral-400-tone: #6d8567;
  --recursica-colors-neutral-300-tone: #879e82;
  --recursica-colors-neutral-200-tone: #a5b8a2;
  --recursica-colors-neutral-100-tone: #d1e0ce;
  --recursica-colors-neutral-050-tone: #ebf5e9;
}
