.root {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: var(--mantine-spacing-lg);
}

.buttonContainer {
  width: 100%;
}

.button {
  width: 100%;
}
