.root {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.description {
  text-align: center;
  color: #333;
}

.errorText {
  text-align: center;
  margin-bottom: 20px;
  color: #c62828;
}

.githubButton {
  width: 100%;
}

.skipButton {
  width: 100%;
}
