.componentList {
  width: 100%;
  max-width: 800px;
}

.componentItem {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;

  /* Container styling */
  color: #000;
  border-radius: 4px;
  cursor: pointer;

  /* Typography */
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Apple Color Emoji",
    "Noto Color Emoji",
    sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.componentName {
  font-size: 0.875rem; /* 14px */
  font-weight: normal;
  text-align: left; /* Left justified */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent wrapping */
  color: #000;
}
